.container{
	display: flex;
	flex-direction: column;
	gap: 8px;

	&_infoBlock{
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&_infoBlock_description{
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
	}

	&_infoBlock_time{
		margin-top: 8px;
		display: flex;
		flex-direction: column;
		gap: 4px;
	}
}